pmilter
build/lib
build/include
build/bin
build/sbin
build/share
src/libmilter/libmilter_la*.o
src/libmilter/compile
src/libtoml/libtoml.a
src/icu/source
src/icu/source/config.log

*.slo
*.lo
*.o
*.d
*.ao

*.so
*.exe

*.lai
*.la
*.a

GPATH
GRTAGS
GSYMS
GTAGS

